.main {
    width: 1000px;
    margin: 0 auto;}
/* 1----------------------------- */
.main1 {}
.main1 h1 {
    text-align: center;
    padding: 10px 0;
}
.main1 h1 img {
    width: 100px;
}
/* 2------------------------------ */
.main2 {
    background-color: rgb(255, 167, 80);
    width: 100%;
    padding: 80px 0;
}
.main2 h2 {
    font-size: 6rem;
    text-align: center;
    padding: 50px 0;
    font-family: 'Black Han Sans', sans-serif;
}
.main2 p {
    font-size: 3rem;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}
.main2 p span {
    font-size: 4rem;
    color: #fff;
    font-weight: 900;
}
/* 3-------------------------------- */
.main3 {
    text-align: left;
}
.main3 .left {
    display: flex;
    flex-flow: row nowrap;
}
.main3 .left h1 {
    margin-top: 200px;
    font-size: 6rem;
    font-family: 'Black Han Sans', sans-serif;
}
.main3 .left h1 span {
    font-size: 6rem;
    font-family: 'Black Han Sans', sans-serif;
    color: rgb(255, 167, 80);
}
.main3 .left p {}
.main3 .left p img {
    width: 500px;
}
.main3 {
    margin-bottom: 30px;
}
.main3 .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.main3 .right p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 5px 5px;
}
.main3 .right p:nth-child(1) {
    border:1px solid rgb(255, 167, 80);
    background-color: rgb(255, 167, 80);
    border-radius: 70px;
    line-height: 1.5em;
    width: 550px;
    margin-bottom: 20px;
    color: #fff;
}
.main3 .right p:nth-child(2) {
    font-size: 2.0rem;
    line-height: 2.0em;
}
.main3 .right p:nth-child(2) span {
    font-size: 5.0rem;
    font-family: 'Black Han Sans', sans-serif;
}
/* 4-------------------------------------------- */
.main4 {
    background-color: rgb(255, 167, 80);
    width: 100%;
}
.main4 h2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4rem;
}
.main4 h2+p {
    margin: 0 auto;
    border: 1px solid rgb(255, 167, 80);
    border-radius: 50%;
    width: 100%;
    width: 730px;height:730px;
    background-image:url(../images/godsang.png);
    background-position-x:5px;
    background-position-y:-166px;
}
.main4 h2+p p:before {
    content:''; display:block;
    background-size:cover; 
}
.main4 p:last-child {
    padding: 50px 0;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4rem;
    color: #fff;
}
/* 5--------------------------------- */
.main5 {
    margin: 0 auto;
    padding-bottom: 30px;
}
.main5 > h2 {
    padding: 50px; 0;
    text-align: center;
    font-size: 2rem;
    line-height:1.5em;
}
.main5 > h2 span {
    font-size: 2rem;
    font-family: 'Black Han Sans', sans-serif;
}
.main5 .bottom {}
.main5 .bottom .event {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.main5 .bottom .event p {
    width: 33%;
}
.main5 .bottom .event p img {
    width: 100%;
}
.main5 .bottom .event p span {
    width: 350px;
    display: inline-block;
    text-align: center;
    padding: 30px 0;
    font-size: 1.6rem;
    font-family: 'Black Han Sans', sans-serif;
}
.main5 .bottom .event p span strong {
    font-size:1.2rem;
    display:block
}
/* 5-2---------------------------------- */
.main5 .bottom2 {
    margin: 0 auto;
    border: 1px solid #fff;
    background-color: rgb(232, 232, 232);
    width: 800px; height: 500px;
    margin-bottom: 20px;
    padding: 0px 30px;
}
.main5 .bottom2 h2 {
    font-family: 'Black Han Sans', sans-serif;
    font-size:2rem;
    text-align: center;
    padding-top: 50px;
}
.main5 .bottom2 h3 {
    text-align: center;
    font-size:1rem;
    padding-bottom: 60px;
}
.main5 .bottom2 .event2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.main5 .bottom2 .event2 p {
    text-align: center;
    width: 33%;

}
.main5 .bottom2 .event2 p span {
    display: inline-block;
    padding: 20px 0;
    font-size: 1.2rem;
    line-height: 1.5em;
}
.main5 .bottom2 .event2 p img {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 50%;
    width: 80%;
}
.main5 > p {
    border: 1px solid rgb(255, 167, 80);
    background-color: rgb(255, 167, 80);
    text-align: center;
    border-radius: 70px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.6rem;
    padding: 20px 20px;
    width: 300px;
    margin: 0 auto;
    color: #fff;
}
/* 6-------------------------------------------- */
.main6 {
    background-color: rgb(255, 167, 80);
    width: 100%;
}
.main6 .main_bg6 {
    margin: 0 auto;
    width: 1000px;
}
.main6 .main_bg6 .people {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.main6 .main_bg6 .people .left_6 h2 {
    font-size: 1.6rem;
    line-height: 1.3em;
    color: #fff;
    padding: 40px 0 20px;
    text-align: center;
}
.main6 .main_bg6 .people .left_6 h2 span {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2rem;
}
.main6 .main_bg6 .people .left_6 p {
    border: 1px solid rgb(255, 167, 80);
    border-radius: 40px;
    overflow: hidden;
}
.main6 .main_bg6 .people .left_6 p img {
    display: inline-block;
    text-align: center;
    width: 600px;
}
.main6 .main_bg6 .people .right_6 {}
.main6 .main_bg6 .people .right_6 p {

    font-size: 2rem;
    color: #fff;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    margin-top: 250px;
}
.main6 .main_bg6 .people .right_6 p span {
    font-size: 3rem;
    color: #fff;
    font-family: 'Black Han Sans', sans-serif;
}
.main6 .main_bg6 .people .right_6 p img {
    width: 320px;
    margin-top: 60px;
}
/* 7-------------------------------------------- */
.main7 {
    width: 1000px;}
.main7 .bg {
    padding: 40px 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}
.main7 .bg video {width: 100%;}
.main7 .bg .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main7 .bg .text p {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 4px 4px 0px rgb(255, 167, 80);
}
.main7 .bg .text p img {
    display: inline-block;
    position: absolute;
    width: 100px;
    top: 5px;
    right: 5px;
    transform: translate(0%,-260%);
}
/* 8-------------------------------------------- */
/* footer-------------------------------------------- */
footer {
    width: 100%;
    background-color: rgb(255, 167, 80);
    padding-bottom: 50px;
}
footer .notice {
    margin: 0 auto;
    width: 1000px;
}
footer .notice h2 {
    padding-top: 50px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3rem;
    text-align: left;
    padding-bottom: 30px;
}
footer .notice p {
    line-height: 2em;
}